<ion-header>

  <ion-navbar>
    <ion-title>Hub 0</ion-title>
  </ion-navbar>

  <ion-item>
    <ion-icon name="ribbon" item-start></ion-icon>
      Puzzles Complete
    <ion-badge item-end>0</ion-badge>
  </ion-item>

</ion-header>


<ion-content padding>
  
  <ion-card>
    
    <ion-item>
      <h2>The yolk's on you....</h2>
      <p>Any questions?</p>
    </ion-item>
    
    <div style="width:100%;height:0;padding-bottom:78%;position:relative;">
      <iframe src="https://giphy.com/embed/H6t2dkTv7eOGI?video=0" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
      </iframe>
    </div>
    <p>
      <a href="https://giphy.com/gifs/H6t2dkTv7eOGI"></a>
    </p>
    
    
    <ion-card-content>
      <p>Enter the correct code to advance....</p>
    </ion-card-content>
    
    <ion-list no-lines>
      
      <form [formGroup]="submitAnswer">
        
        <ion-item>
          <ion-label floating>Answer</ion-label>
          <ion-input formControlName="answer" type="text" [class.invalid]="!submitAnswer.controls.answer.valid && submitAttempt"></ion-input>
        </ion-item>

        <ion-item *ngIf="!submitAnswer.controls.answer.valid && submitAttempt">
          <p>Only one word....</p>
        </ion-item>

        <ion-item *ngIf="(correctAnswer == true) && (submitAttempt == true)">
          <p>Correct!</p>
        </ion-item>

        <ion-item *ngIf="(correctAnswer == false) && (submitAttempt == true)">
          <p>Incorrect!</p>
        </ion-item>
      
      </form>
    
    </ion-list>
    
    <button ion-button full color="primary" (click)="save()">Enter code</button>
  
  </ion-card>

</ion-content>
